<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
      <h3>{{counter}} time(s)</h3>
      <div class="button">
         <form action="/" method="post">
         <button type="submit" class="btn_add" name="btn_add">Add two visits !</button>
         </form>
         <form action="/" method="post">
         <button type="submit" class="reset" name="clear">Reset</button>
         </form>
      </div>
</body>
</html>